<!doctype html>
<html>
  <head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">    
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://twitter.github.com/bootstrap/">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{% if not (request.path.endswith("/bulletin") or "/wiki/" in request.path or request.path.endswith("/web") or request.path.endswith("/private")) %}active{% end %}">
                <a href="/{{ access }}">Home</a>
              </li>
              <li class="{% if request.path.endswith("/bulletin") %}active{% end %}">
                <a href="/{{ access }}/bulletin">Bulletin 0:00</a>
              </li>
              <li class="{% if "/wiki/" in request.path %}active{% end %}">
                <a href="/{{ access }}/wiki/Index">Wiki 0:00</a>
              </li>
              <li class="{% if request.path.endswith("/web") %}active{% end %}">
                <a href="/{{ access }}/web">Web 0:00</a>
              </li>
              <li class="{% if request.path.endswith("/private") %}active{% end %}">
                <a href="/{{ access }}/private">Private 0:00</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <h1>Cell 0</h1>
        <p class="lead">God help us all.</p>
      </div>
    </header>
    {% block content %}{% end %}
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built with all the love in the world <a href="/">@</a>.</p>
        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li><a href="http://blog.getbootstrap.com">Read the blog</a></li>
          <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Submit issues</a></li>
          <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
        </ul>
      </div>
    </footer>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/google-code-prettify/prettify.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/bootstrap-affix.js"></script>
  </body>
</html>
