{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#read" data-toggle="tab">Read</a></li>
      <li class=""><a href="#compose" data-toggle="tab">Compose</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="read">
        {% if len(bulletin)>0 %}
        <div class="accordion" id="accordion1">
          {% for bi,b in enumerate(bulletin) %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ bi }}">
                <span class="muted" style="float: left; height: 20px; width: 263px; overflow: hidden;"
                      title="{{ b.source.get("codename","") }}" >{{ b.source_fingerprint }}</span>
                {{ b.subject }}
              </a>
            </div>
            <div id="collapse{{ bi }}" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner">
                {{ b.message }}
              </div>
            </div>
          </div>
          {% end %}
        </div>
        {% else %}
        <p>There is nothing on the bulletin board.</p>
        {% end %}
      </div>
      <div class="tab-pane fade" id="compose">
        <form method="POST" action="/{{ access }}/bulletin-compose">
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span9" name="subject" type="text" placeholder="Subject">
            <input class="span3" name="voice" type="text" placeholder="Visibility">
          </fieldset>
          <fieldset>
            <textarea class="span12" name="message" rows="13" placeholder="Message"></textarea>
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% end %}
