{% extends "base.html" %}

{% block content %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Cell 0</h1>
    <p class="lead">Hello wiretap. Yes, this is http not https.</p>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="/static/tar/source.tar.gz"><i class="icon icon-chevron-right"></i> Download</a></li>
        <li><a href="/{{ access }}/private"><i class="icon icon-chevron-right"></i> Create a profile</a></li>
        <li><a href="/{{ access }}/web"><i class="icon icon-chevron-right"></i> Share the web</a></li>
        <li><a href="/{{ access }}/wiki"><i class="icon icon-chevron-right"></i> Impress your knowledge</a></li>
        <li><a href="/{{ access }}/bulletin"><i class="icon icon-chevron-right"></i> Spread the news</a></li>
      </ul>
    </div>

    <div class="span9">
      <section>
        <p>Welcome visitor.</p>
        <p>This is your homepage. Remember the address or you will lose access to this account.</p>
        <p>
          <b>Rules (Subject to Change)</b><br>
          <ul>
            <li>You may speak freely if you have the time.</li>
            <li>You may suppress the speech of others if you have the time.</li>
            <li>You are who you say you are until somebody remembers you.</li>
          </ul>
        </p>
      </section>
    </div>

  </div>
</div>
{% end %}
