{% extends "base.html" %}

{% block content %}
    <p>
        This is your homepage. Remember the address or you will lose access to this account.
    </p>
    <p>
        <b>Rules (Subject to Change)</b><br>
        <ul>
          <li>
          You are permitted to post new topics to the forum. After review by the host they may be made visible to other members.
          </li>
          <li>
          You are permitted to post comments on topics that are visible to you. After review by the host they may be made visible to other members.
          </li>
        </ul>
    </p>
    <p>
        <b>Disclaimer</b><br>
        This website is not affiliated with any hacker collective and does not facilitate illegal behaviour.
        The purpose of this website is to develop and incentivize reliable communications and effective governance
        among anonymous, unreliable, and untrusted members. The project status is <i>experimental</i>.
    </p>
{% end %}
