{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar nav" id="myTab">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#alias" data-toggle="tab"><i class="icon icon-chevron-right"></i> Alias</a></li>
        <li><a href="#badges" data-toggle="tab"><i class="icon icon-chevron-right"></i> Badges</a></li>
        <li><a href="#contacts" data-toggle="tab"><i class="icon icon-chevron-right"></i> Contacts</a></li>
        <li><a href="#messages" data-toggle="tab"><i class="icon icon-chevron-right"></i> Messages</a></li>
        <li><a href="#documents" data-toggle="tab"><i class="icon icon-chevron-right"></i> Documents</a></li>
        <li><a href="#timebank" data-toggle="tab"><i class="icon icon-chevron-right"></i> Time Bank</a></li>
        <li><a href="#transport" data-toggle="tab"><i class="icon icon-chevron-right"></i> Data Transport</a></li>
        <li><a href="#trade" data-toggle="tab"><i class="icon icon-chevron-right"></i> Trade</a></li>
        <li><a href="#parent" data-toggle="tab"><i class="icon icon-chevron-right"></i> Parent</a></li>
      </ul>
    </div>
    <div id="myTabContent" class="span9 tab-content">

      <div class="tab-pane fade active in" id="alias">
        <section>
          <ul id="tab-alias" class="nav nav-tabs">
            <li class="active"><a href="#alias-view" data-toggle="tab">View</a></li>
            <li class=""><a href="#alias-edit" data-toggle="tab">Edit</a></li>
          </ul>
          <div id="tab-alias-content" class="tab-content">
            <div class="tab-pane fade active in" id="alias-view">
              <p><b>Public Fingerprint</b>: 0123456789</p>
              <p><b>Code name</b>: Nocturnal Lemongrass</p>
              <p><b>Location</b>: Ubiquitous</p>
              <p><b>Profile:</b></p><p>Text and stuff here makes it sound good</p>
            </div>
            <div class="tab-pane fade" id="alias-edit">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="codename" placeholder="Code name">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="location" placeholder="Location">
                </fieldset>
                <fieldset>
                  <textarea class="span6" name="profile" rows="13" placeholder="Profile"></textarea>
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="badges">
        <section>
          <ul id="tab-badges" class="nav nav-tabs">
            <li class="active"><a href="#badges-credentials" data-toggle="tab">Credentials</a></li>
            <li class=""><a href="#badges-students" data-toggle="tab">Students</a></li>
            <li class=""><a href="#badges-issue" data-toggle="tab">Issue</a></li>
            <li class=""><a href="#badges-revoke" data-toggle="tab">Revoke</a></li>
          </ul>
          <div id="tab-badges-content" class="tab-content">
            <div class="tab-pane fade active in" id="badges-credentials">
              <p><b>Flower Arrangement (Level 1)</b> awarded by <span title="Jim Bob Tittlesworth III">3456789795467</span></p>
              <p><b>Flower Arrangement (Level 2)</b> awarded by <span title="Jim Bob Tittlesworth III">3456789795467</span></p>
            </div>
            <div class="tab-pane fade" id="badges-students">
              <p><b>Paper Folding (Level 1)</b> awarded to <span title="Jim Bob Tittlesworth III">3456789795467</span></p>
              <p><b>Paper Folding (Level 2)</b> awarded to <span title="Jim Bob Tittlesworth III">3456789795467</span></p>
            </div>
            <div class="tab-pane fade" id="badges-issue">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="fingerprint" placeholder="Student">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="credential" placeholder="Credential">
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
            <div class="tab-pane fade" id="badges-revoke">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="fingerprint" placeholder="Student">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="credential" placeholder="Credential">
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>
      
      <div class="tab-pane fade" id="contacts">
        <section>
          <ul id="tab-contacts" class="nav nav-tabs">
            <li class="active"><a href="#contacts-view" data-toggle="tab">View</a></li>
            <li class=""><a href="#contacts-remember" data-toggle="tab">Remember</a></li>
            <li class=""><a href="#contacts-forget" data-toggle="tab">Forget</a></li>
          </ul>
          <div id="tab-contacts-content" class="tab-content">

            <div class="tab-pane fade active in" id="contacts-view">
              <div class="accordion" id="contacts-accordion">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-contacts" href="#collapse-contacts0">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342354</span>
                      Ellen Haynesworth
                    </a>
                  </div>
                  <div id="collapse-contacts0" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <p><b>Location:</b> Somewhere</p>
                      <p><b>Keywords:</b> Friend, Partner, Classmate</p>
                      <p>Description of who this person is.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-contacts" href="#collapse-contacts1">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342355</span>
                      Jonathon Haynesworth
                    </a>
                  </div>
                  <div id="collapse-contacts1" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <p><b>Location:</b> Somewhere</p>
                      <p><b>Keywords:</b> Acquaintance</p>
                      <p>Description of who this person is.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="contacts-remember">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="fingerprint" placeholder="Fingerprint">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="tags" placeholder="Keywords">
                </fieldset>
                <fieldset>
                  <textarea class="span6" name="description" rows="13" placeholder="Description"></textarea>
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
            <div class="tab-pane fade" id="contacts-forget">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="fingerprint" placeholder="Fingerprint">
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="messages">
        <section>
          <ul id="tab-messages" class="nav nav-tabs">
            <li class="active"><a href="#messages-view" data-toggle="tab">View</a></li>
            <li class=""><a href="#messages-compose" data-toggle="tab">Compose</a></li>
          </ul>
          <div id="tab-messages-content" class="tab-content">
            <div class="tab-pane fade active in" id="messages-view">
              <div class="accordion" id="accordion-messages">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-messages" href="#collapse-messages0">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342354</span>
                      Hello, can you meet me for coffee today?
                    </a>
                  </div>
                  <div id="collapse-messages0" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <p>Wanted to talk about prospects for ..............</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-messages" href="#collapse-messages1">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342355</span>
                      Application for renewal of gym membership.
                    </a>
                  </div>
                  <div id="collapse-messages1" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                     <p>huh?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="messages-compose">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="fingerprint" placeholder="Recipient">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="tags" placeholder="Title">
                </fieldset>
                <fieldset>
                  <textarea class="span6" name="description" rows="13" placeholder="Description"></textarea>
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="documents">
        <section>
          <ul id="tab-documents" class="nav nav-tabs">
            <li class="active"><a href="#documents-view" data-toggle="tab">View</a></li>
            <li class=""><a href="#documents-remove" data-toggle="tab">Remove</a></li>
          </ul>
          <div id="tab-documents-content" class="tab-content">

            <div class="tab-pane fade active in" id="documents-view">
              <div class="accordion" id="accordion-documents">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-documents" href="#collapse-documents0">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342354 <i class="icon-arrow-right"></i> 124233328</span>
                      Hello, can you meet me for coffee today?
                    </a>
                  </div>
                  <div id="collapse-documents0" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <p><b>body:</b> asdf asdf asdf</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="documents-remove">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="hash" placeholder="Document key">
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="timebank">
        <section>
          <ul id="tab-timebank" class="nav nav-tabs">
            <li class="active"><a href="#timebank-accounts" data-toggle="tab">Accounts</a></li>
            <li class=""><a href="#timebank-transfer" data-toggle="tab">Transfer</a></li>
          </ul>
          <div id="tab-timebank-content" class="tab-content">
            <div class="tab-pane fade active in" id="timebank-accounts">
              <p><b style="float: left; height: 20px; width: 185px; overflow: hidden;">{{ access }}/bulletin</b> 0:00</p>
              <p><b style="float: left; height: 20px; width: 185px; overflow: hidden;">{{ access }}/wiki</b> 0:00</p>
              <p><b style="float: left; height: 20px; width: 185px; overflow: hidden;">{{ access }}/web</b> 0:00</p>
              <p><b style="float: left; height: 20px; width: 185px; overflow: hidden;">{{ access }}/private</b> 0:00</p>
            </div>
            <div class="tab-pane fade" id="timebank-transfer">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="recipient" placeholder="Recipient">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="currency" placeholder="Currency">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="amount" placeholder="Amount">
                </fieldset>
                <section><div class="alert alert-info">A 0.3% transaction tax will be added to the final amount.</div></section>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="transport">
        <section>
          <ul id="tab-transport" class="nav nav-tabs">
            <li class="active"><a href="#transport-import" data-toggle="tab">Import</a></li>
            <li class=""><a href="#transport-export" data-toggle="tab">Export</a></li>
          </ul>
          <div id="tab-transport-content" class="tab-content">
            <div class="tab-pane fade active in" id="transport-import">
              <fieldset>
                <input type="file" name="file" class="span4" placeholder="Filename">
              </fieldset>
              <button type="submit" class="btn">Submit</button>
            </div>
            <div class="tab-pane fade" id="transport-export">
              <div class="alert alert-info">A total of 25 records are available for download.</div>
              <button type="submit" class="btn">Download</button>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="trade">
        <section>
          <ul id="tab-trade" class="nav nav-tabs">
            <li class="active"><a href="#trade-open" data-toggle="tab">Open</a></li>
            <li class=""><a href="#trade-propose" data-toggle="tab">Propose</a></li>
          </ul>
          <div id="tab-trade-content" class="tab-content">
            <div class="tab-pane fade active in" id="trade-open">

              <div class="accordion" id="accordion-trades">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-trades" href="#collapse-trades0">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342354</span>
                      Hello, can you meet me for coffee today?
                    </a>
                  </div>
                  <div id="collapse-trades0" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <p><span style="float: left; height: 20px; width: 185px; overflow: hidden;">Gain:</span> 0:03 wiki hours</p>
                      <p><span style="float: left; height: 20px; width: 185px; overflow: hidden;">Lose:</span> 0:02 web hours</p>
                      <form>
                        <button type="submit" class="btn">Accept</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-messages" href="#collapse-trades1">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342355</span>
                      Application for renewal of gym membership.
                    </a>
                  </div>
                  <div id="collapse-trades1" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                      <p>Gain: Gym Member (Level 1) credential</p>
                      <p>Lose: 0:03 personal hours</p>
                      <form>
                        <button type="submit" class="btn">Accept</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="trade-propose">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="fingerprint" placeholder="Recipient">
                </fieldset>
                <fieldset>
                  <input class="span4" type="text" name="description" placeholder="Description">
                </fieldset>
                <fieldset>
                  <textarea class="span6" name="conditions" rows="13" placeholder="Conditions"></textarea>
                </fieldset>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="parent">
        <section>
          <ul id="tab-parent" class="nav nav-tabs">
            <li class="active"><a href="#parent-children" data-toggle="tab">Children</a></li>
            <li class=""><a href="#parent-spawn" data-toggle="tab">Spawn</a></li>
          </ul>
          <div id="tab-parent-content" class="tab-content">
            <div class="tab-pane fade active in" id="parent-children">
              <div class="accordion" id="accordion-children">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-children" href="#collapse-children0">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342354</span>
                      Hank
                    </a>
                  </div>
                  <div id="collapse-children0" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <p><span style="float: left; height: 20px; width: 185px; overflow: hidden;">Location:</span> New Guinea</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-messages" href="#collapse-children1">
                      <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342355</span>
                      Frank
                    </a>
                  </div>
                  <div id="collapse-children1" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                      <p><span style="float: left; height: 20px; width: 185px; overflow: hidden;">Location:</span> Indonesia</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="parent-spawn">
              <form>
                <fieldset>
                  <input class="span4" type="text" name="name" placeholder="Name">
                </fieldset>
                <div class="alert alert-info">Child rearing requires a lot of time, are you sure you want to continue?</div>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>
{% end %}
