<div class="tab-pane fade" id="messages">
  <section>
    <ul id="tab-messages" class="nav nav-tabs">
      <li class="active"><a href="#messages-view" data-toggle="tab">View</a></li>
      <li class=""><a href="#messages-compose" data-toggle="tab">Compose</a></li>
    </ul>
    <div id="tab-messages-content" class="tab-content">
      <div class="tab-pane fade active in" id="messages-view">
        <div class="accordion" id="accordion-messages">
          {% if len(messages) > 0 %}
          {% for mi,m in enumerate(messages) %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-messages" href="#collapse-messages-{{mi}}">
                <span class="muted" style="float: left; height: 20px; width: 263px; overflow: hidden;"
                      title="{{ m.source.get("codename","") }}">{{ m.source_fingerprint }}</span>
                {{ m.subject }}
              </a>
            </div>
            <div id="collapse-messages-{{mi}}" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner">
                <p>{{ m.message }}</p>
              </div>
            </div>
          </div>
          {% end %}
          {% else %}
          <p>You have no messages.</p>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="messages-compose">
        <form method="POST" action="/{{ access }}/message-compose">
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span4" type="text" name="fingerprint" placeholder="Recipient">
          </fieldset>
          <fieldset>
            <input class="span4" type="text" name="subject" placeholder="Subject">
            <input class="span2" type="text" name="voice" placeholder="Voice">
          </fieldset>
          <fieldset>
            <textarea class="span6" name="message" rows="13" placeholder="Message"></textarea>
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
