{% extends "base.html" %}

{% block content %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Cell 0</h1>
    <p class="lead">Intelligence for everyone.</p>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="span3 bs-docs-sidebar nav" id="myTab">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#alias" data-toggle="tab"><i class="icon icon-chevron-right"></i> Alias</a></li>
        <li><a href="#messages" data-toggle="tab"><i class="icon icon-chevron-right"></i> Messages</a></li>
        <li><a href="#documents" data-toggle="tab"><i class="icon icon-chevron-right"></i> Documents</a></li>
        <li><a href="#timebank" data-toggle="tab"><i class="icon icon-chevron-right"></i> Time Bank</a></li>
        <li><a href="#transport" data-toggle="tab"><i class="icon icon-chevron-right"></i> Data Transport</a></li>
        <li><a href="#trade" data-toggle="tab"><i class="icon icon-chevron-right"></i> Trade</a></li>
      </ul>
    </div>

    <div id="myTabContent" class="span9 tab-content">

      <div class="tab-pane fade active in" id="alias">
        <section>
          <ul id="myTabAlias" class="nav nav-tabs">
            <li class="active"><a href="#alias-view" data-toggle="tab">Alias</a></li>
            <li class=""><a href="#alias-edit" data-toggle="tab">Edit</a></li>
          </ul>
          <div id="myTabContentAlias" class="tab-content">
            <div class="tab-pane fade active in" id="alias-view">
              <h2>Alias Content</h2>
            </div>
            <div class="tab-pane fade" id="alias-edit">
              <h2>Edit Alias Content</h2>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="messages">
        <section>
          <legend>Messages</legend>
        </section>
      </div>
      <div class="tab-pane fade" id="documents">
        <section>
          <legend>Documents</legend>
        </section>
      </div>
      <div class="tab-pane fade" id="timebank">
        <section>
          <legend>Time Bank</legend>
        </section>
      </div>
      <div class="tab-pane fade" id="transport">
        <section>
          <legend>Transport</legend>
        </section>
      </div>
      <div class="tab-pane fade" id="trade">
        <section>
          <legend>Trade</legend>
        </section>
      </div>
    </div>

  </div>
</div>
{% end %}
