<div class="tab-pane fade" id="parent">
  <section>
    <ul id="tab-parent" class="nav nav-tabs">
      <li class="active"><a href="#parent-children" data-toggle="tab">Children</a></li>
      <li class=""><a href="#parent-spawn" data-toggle="tab">Spawn</a></li>
    </ul>
    <div id="tab-parent-content" class="tab-content">
      <div class="tab-pane fade active in" id="parent-children">
        {% if len(children)>0 %}
        <div class="accordion" id="accordion-children">
          {% for ci,c in enumerate(children) %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-children" href="#collapse-children{{ ci }}">
                <span class="muted" style="float: left; height: 20px; width: 263px; overflow: hidden;">{{ c.target_fingerprint }}</span>
                {{ c.target.get("codename","Anonymous") }}
              </a>
            </div>
            <div id="collapse-children{{ ci }}" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner">
                <p><b>Location</b>: {{ c.target.get("location","") or "Unknown" }}</p>
                {% if c.get("redirect","") %}
                <p><b>Invitation</b>: {{ request.host }}{{ c.redirect }}</p>
                {% end %}
              </div>
            </div>
          </div>
          {% end %}
        </div>
        {% else %}
        <p>You have no known children.</p>
        {% end %}
      </div>
      <div class="tab-pane fade" id="parent-spawn">
        <form method="POST" action="/{{ access }}/parent-spawn">
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span4" type="text" name="name" placeholder="Name">
          </fieldset>
          <div class="alert alert-info">Raising a child requires a lot of time, are you sure you want to continue?</div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
