<div class="tab-pane fade" id="documents">
  <section>
    <ul id="tab-documents" class="nav nav-tabs">
      <li class="active"><a href="#documents-view" data-toggle="tab">View</a></li>
      <li class=""><a href="#documents-remove" data-toggle="tab">Remove</a></li>
    </ul>
    <div id="tab-documents-content" class="tab-content">
      <div class="tab-pane fade active in" id="documents-view">
        <div class="accordion" id="accordion-documents">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-documents" href="#collapse-documents0">
                <span class="muted" style="float: left; height: 20px; width: 185px; overflow: hidden;">122342354 <i class="icon-arrow-right"></i> 124233328</span>
                Hello, can you meet me for coffee today?
              </a>
            </div>
            <div id="collapse-documents0" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner">
                <p><b>body:</b> asdf asdf asdf</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="documents-remove">
        <form>
          <fieldset>
            <input class="span4" type="text" name="hash" placeholder="Document key">
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
