<div class="tab-pane fade" id="badges">
  <section>
    <ul id="tab-badges" class="nav nav-tabs">
      <li class="active"><a href="#badges-credentials" data-toggle="tab">Credentials</a></li>
      <li class=""><a href="#badges-students" data-toggle="tab">Students</a></li>
      <li class=""><a href="#badges-issue" data-toggle="tab">Issue</a></li>
      <li class=""><a href="#badges-revoke" data-toggle="tab">Revoke</a></li>
    </ul>
    <div id="tab-badges-content" class="tab-content">
      <div class="tab-pane fade active in" id="badges-credentials">
        {% if len(credentials) > 0 %}
        {% for badge in credentials %}
        <p><b>{{ badge.get("credential","") }}</b> awarded by <span title="{{ badge.source.get("codename","Anonymous") }}">{{ badge.source_fingerprint }}</span></p>
        {% end %}
        {% else %}
        <p>You have no badges.</p>
        {% end %}
      </div>
      <div class="tab-pane fade" id="badges-students">
        {% if len(student_credentials) > 0 %}
        {% for badge in student_credentials %}
        <p><b>{{ badge.get("credential","") }}</b> awarded to <span title="{{ badge.target.get("codename","Anonymous") }}">{{ badge.target_fingerprint }}</span></p>
        {% end %}
        {% else %}
        <p>You have issued no badges.</p>
        {% end %}
      </div>
      <div class="tab-pane fade" id="badges-issue">
        <form method="POST" action="/{{ access }}/badges-issue" >
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span4" type="text" name="fingerprint" placeholder="Student">
          </fieldset>
          <fieldset>
            <input class="span4" type="text" name="credential" placeholder="Credential">
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="badges-revoke">
        <form method="POST" action="/{{ access }}/badges-revoke" >
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span4" type="text" name="fingerprint" placeholder="Student">
          </fieldset>
          <fieldset>
            <input class="span4" type="text" name="credential" placeholder="Credential">
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
