<div class="tab-pane fade" id="trade">
  <section>
    <ul id="tab-trade" class="nav nav-tabs">
      <li class="active"><a href="#trade-open" data-toggle="tab">Open</a></li>
      <li class=""><a href="#trade-propose" data-toggle="tab">Propose</a></li>
    </ul>
    <div id="tab-trade-content" class="tab-content">
      <div class="tab-pane fade active in" id="trade-open">
        <div class="accordion" id="accordion-trades">
          {% if len(open_trades)>0 %}
          {% for ti,t in enumerate(open_trades) %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-trades" href="#collapse-trades{{ ti }}">
                <span class="muted" style="float: left; height: 20px; width: 263px; overflow: hidden;"
                 title="{{ t.source.get('codename','') }}">{{ t.source_fingerprint }}</span>
                {{ t.get('subject','No subject') }}
              </a>
            </div>
            <div id="collapse-trades{{ ti }}" class="accordion-body collapse" style="height: 0px">
              <div class="accordion-inner">
                {% for c in t.conditions %}
                {% if c['type'] == 'contact' and c['recipient']==alias.source_fingerprint %}
                <div class="alert">
                  <p></p><h4>Gain Contact</h4><br>
                  <table class="table">
                    <tr>
                      <td>Fingerprint</td>
                      <td>{{ c['contact'] }}</td>
                    </tr>
                    <tr>
                      <td>Keywords</td>
                      <td>{{ c['keywords'] }}</td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td>{{ c['description'] }}</td>
                    </tr>
                  </table>
                </div>
                {% elif c['type'] == 'message' and c['sender']==alias.source_fingerprint %}
                <div class="alert">
                  <p></p><h4>Send Message</h4><br>
                  <table class="table">
                    <tr>
                      <td>Recipient</td>
                      <td>{{ c['recipient'] }}</td>
                    </tr>
                    <tr>
                      <td>Subject</td>
                      <td>{{ c['subject'] }}</td>
                    </tr>
                    <tr>
                      <td>Message</td>
                      <td>{{ c['message'] }}</td>
                    </tr>
                  </table>
                </div>
                {% elif c['type'] == 'time' and (c['recipient']==alias.source_fingerprint or c['sender']==alias.source_fingerprint) %}
                <div class="alert">
                  {% if c['sender']==alias.source_fingerprint %}
                  <p></p><h4>Send Time</h4><br>
                  <table class="table">
                    <tr>
                      <td>Recipient</td>
                      <td>{{ c['recipient'] }}</td>
                    </tr>
                  {% else %}
                  <p></p><h4>Receive Time</h4><br>
                  <table class="table">
                    <tr>
                      <td>Sender</td>
                      <td>{{ c['sender'] }}</td>
                    </tr>
                  {% end %}
                    <tr>
                      <td>Currency</td>
                      <td>{{ c['currency'] }}</td>
                    </tr>
                    <tr>
                      <td>Amount</td>
                      <td>{{ c['amount'] }}</td>
                    </tr>
                  </table>
                </div>
                {% elif c['type'] == 'badge' and (c['student']==alias.source_fingerprint or c['mentor']==alias.source_fingerprint) %}
                <div class="alert">
                  {% if c['mentor']==alias.source_fingerprint %}
                  <p></p><h4>{% if c['gain']=='gain' %}Grant {% else %}Revoke {% end %} Credential</h4><br>
                  <table class="table">
                    <tr>
                      <td>Student</td>
                      <td>{{ c['student'] }}</td>
                    </tr>
                  {% else %}
                  <p></p><h4>{% if c['gain']=='gain' %}Receive {% else %}Forfeit {% end %} Credential</h4><br>
                  <table class="table">
                    <tr>
                      <td>Mentor</td>
                      <td>{{ c['mentor'] }}</td>
                    </tr>
                  {% end %}
                    <tr>
                      <td>credential</td>
                      <td>{{ c['credential'] }}</td>
                    </tr>
                  </table>
                </div>
                {% end %}
                {% end %}
                <form style="display: inline-block" method="POST" action="/{{ access }}/trade-reply">
                  {% module xsrf_form_html() %}
                  <input type="hidden" name="trade" value="{{ t.document_hash }}">
                  <input type="hidden" name="response" value="accept">
                  <button type="submit" class="btn">Accept</button>
                </form>
                <form style="display: inline-block" method="POST" action="/{{ access }}/trade-reply">
                  {% module xsrf_form_html() %}
                  <input type="hidden" name="trade" value="{{ t.document_hash }}">
                  <input type="hidden" name="response" value="reject">
                  <button type="submit" class="btn">Reject</button>
                </form>
              </div>
            </div>
          </div>
          {% end %}
          {% else %}
          <p>You have no open trades.</p>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="trade-propose">
        <form method="POST" action="/{{ access }}/trade-propose">
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span4" type="text" name="subject" placeholder="Subject">
          </fieldset>
          <section>
            <span style="margin-right: 20px">Add a condition:</span>
            <button type="button" class="btn btn-primary"
            onclick="$('#trade-conditions').append($('#trade-badge').html().replace(/{i}/g,$('#trade-conditions').children().length))">Badge</button>
            <button type="button" class="btn btn-primary"
            onclick="$('#trade-conditions').append($('#trade-contact').html().replace(/{i}/g,$('#trade-conditions').children().length))">Contact</button>
            <button type="button" class="btn btn-primary"
            onclick="$('#trade-conditions').append($('#trade-message').html().replace(/{i}/g,$('#trade-conditions').children().length))">Message</button>
            <button type="button" class="btn btn-primary" 
            onclick="$('#trade-conditions').append($('#trade-time').html().replace(/{i}/g,$('#trade-conditions').children().length))">Time</button>
          </section>
          <section>
            <div class="well" id="trade-conditions">
            </div>
          </section>
          <section>
            <button type="submit" class="btn">Submit</button>
          </section>
        </form>
        <div style="display:none" id="trade-badge">
          <div class="alert" id="trade-badge-{i}">
            <button class="close pull-right" onclick="$('#trade-badge-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Badge</h4><br>
            <input type="hidden" name="trade-type-{i}" value="badge">
            <fieldset>
              <label class="radio inline"><input type="radio" name="trade-gain-{i}" id="trade-gain-{i}" value="gain" checked>Gain</label>
              <label class="radio inline"><input type="radio" name="trade-gain-{i}" id="trade-lose-{i}" value="lose">Lose</label>
            </fieldset><br>
            <fieldset>
              <input class="span4" type="text" name="trade-mentor-{i}" placeholder="Mentor">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-student-{i}" placeholder="Student">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-credential-{i}" placeholder="Credential">
            </fieldset>
          </div>
        </div>
        <div style="display:none" id="trade-contact">
          <div class="alert" id="trade-contact-{i}">
            <button class="close pull-right" onclick="$('#trade-contact-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Contact</h4><br>
            <input type="hidden" name="trade-type-{i}" value="contact">
            <fieldset>
              <input class="span4" type="text" name="trade-recipient-{i}" placeholder="Recipient">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-contact-{i}" placeholder="New Contact">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-keywords-{i}" placeholder="Keywords">
            </fieldset>
            <fieldset>
              <textarea class="span6" name="trade-description-{i}" rows="13" placeholder="Description"></textarea>
            </fieldset>
          </div>
        </div>
        <div style="display:none" id="trade-message">
          <div class="alert" id="trade-message-{i}">
            <button class="close pull-right" onclick="$('#trade-message-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Message</h4><br>
            <input type="hidden" name="trade-type-{i}" value="message">
            <fieldset>
              <input class="span4" type="text" name="trade-sender-{i}" placeholder="Sender">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-recipient-{i}" placeholder="Recipient">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-subject-{i}" placeholder="Subject">
              <input class="span2" type="text" name="trade-voice-{i}" placeholder="Voice">
            </fieldset>
            <fieldset>
              <textarea class="span6" name="trade-message-{i}" rows="13" placeholder="Message"></textarea>
            </fieldset>
          </div>
        </div>
        <div style="display:none" id="trade-time">
          <div class="alert" id="trade-time-{i}">
            <button class="close pull-right" onclick="$('#trade-time-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Time</h4><br>
            <input type="hidden" name="trade-type-{i}" value="time">
            <fieldset>
              <input class="span4" type="text" name="trade-sender-{i}" placeholder="Sender">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-recipient-{i}" placeholder="Recipient">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-currency-{i}" placeholder="Currency">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-amount-{i}" placeholder="Amount">
            </fieldset>
            <div class="alert alert-info">A 0.3% transaction tax will be added to the final amount.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
