<div class="tab-pane fade" id="trade">
  <section>
    <ul id="tab-trade" class="nav nav-tabs">
      <li class="active"><a href="#trade-open" data-toggle="tab">Open</a></li>
      <li class=""><a href="#trade-pending" data-toggle="tab">Pending</a></li>
      <li class=""><a href="#trade-rejected" data-toggle="tab">Rejected</a></li>
      <li class=""><a href="#trade-accepted" data-toggle="tab">Accepted</a></li>
      <li class=""><a href="#trade-propose" data-toggle="tab">Propose</a></li>
    </ul>
    <div id="tab-trade-content" class="tab-content">
      <div class="tab-pane fade active in" id="trade-open">
        <div class="accordion" id="accordion-open-trades">
          {% if len(open_trades)>0 %}
          {% set data_parent = "accordion-open-trades" %}
          {% for ti,t in enumerate(open_trades) %}
          {% include "private_trade_individual.html" %}
          {% end %}
          {% else %}
          <p>You have no open trades.</p>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="trade-pending">
        <div class="accordion" id="accordion-pending-trades">
          {% if len(pending_trades)>0 %}
          {% set data_parent = "accordion-pending-trades" %}
          {% for ti,t in enumerate(pending_trades) %}
          {% include "private_trade_individual.html" %}
          {% end %}
          {% else %}
          <p>You have no pending trades.</p>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="trade-rejected">
        <div class="accordion" id="accordion-rejected-trades">
          {% if len(rejected_trades)>0 %}
          {% set data_parent = "accordion-rejected-trades" %}
          {% for ti,t in enumerate(rejected_trades) %}
          {% include "private_trade_individual.html" %}
          {% end %}
          {% else %}
          <p>You have no rejected trades.</p>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="trade-accepted">
        <div class="accordion" id="accordion-accepted-trades">
          {% if len(accepted_trades)>0 %}
          {% set data_parent = "accordion-accepted-trades" %}
          {% for ti,t in enumerate(accepted_trades) %}
          {% include "private_trade_individual.html" %}
          {% end %}
          {% else %}
          <p>You have no accepted trades.</p>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="trade-propose">
        <form method="POST" action="/{{ access }}/trade-propose">
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span4" type="text" name="subject" placeholder="Subject">
          </fieldset>
          <section>
            <span style="margin-right: 20px">Add a condition:</span>
            <button type="button" class="btn btn-primary"
            onclick="$('#trade-conditions').append($('#trade-badge').html().replace(/{i}/g,$('#trade-conditions').children().length))">Badge</button>
            <button type="button" class="btn btn-primary"
            onclick="$('#trade-conditions').append($('#trade-contact').html().replace(/{i}/g,$('#trade-conditions').children().length))">Contact</button>
            <button type="button" class="btn btn-primary"
            onclick="$('#trade-conditions').append($('#trade-message').html().replace(/{i}/g,$('#trade-conditions').children().length))">Message</button>
            <button type="button" class="btn btn-primary" 
            onclick="$('#trade-conditions').append($('#trade-time').html().replace(/{i}/g,$('#trade-conditions').children().length))">Time</button>
          </section>
          <section>
            <div class="well" id="trade-conditions">
            </div>
          </section>
          <section>
            <button type="submit" class="btn">Submit</button>
          </section>
        </form>
        <div style="display:none" id="trade-badge">
          <div class="alert" id="trade-badge-{i}">
            <button class="close pull-right" onclick="$('#trade-badge-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Badge</h4><br>
            <input type="hidden" name="trade-type-{i}" value="badge">
            <fieldset>
              <label class="radio inline"><input type="radio" name="trade-gain-{i}" id="trade-gain-{i}" value="gain" checked>Gain</label>
              <label class="radio inline"><input type="radio" name="trade-gain-{i}" id="trade-lose-{i}" value="lose">Lose</label>
            </fieldset><br>
            <fieldset>
              <input class="span4" type="text" name="trade-mentor-{i}" placeholder="Mentor">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-student-{i}" placeholder="Student">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-credential-{i}" placeholder="Credential">
            </fieldset>
          </div>
        </div>
        <div style="display:none" id="trade-contact">
          <div class="alert" id="trade-contact-{i}">
            <button class="close pull-right" onclick="$('#trade-contact-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Contact</h4><br>
            <input type="hidden" name="trade-type-{i}" value="contact">
            <fieldset>
              <input class="span4" type="text" name="trade-recipient-{i}" placeholder="Recipient">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-contact-{i}" placeholder="New Contact">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-keywords-{i}" placeholder="Keywords">
            </fieldset>
            <fieldset>
              <textarea class="span6" name="trade-description-{i}" rows="13" placeholder="Description"></textarea>
            </fieldset>
          </div>
        </div>
        <div style="display:none" id="trade-message">
          <div class="alert" id="trade-message-{i}">
            <button class="close pull-right" onclick="$('#trade-message-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Message</h4><br>
            <input type="hidden" name="trade-type-{i}" value="message">
            <fieldset>
              <input class="span4" type="text" name="trade-sender-{i}" placeholder="Sender">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-recipient-{i}" placeholder="Recipient">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-subject-{i}" placeholder="Subject">
              <input class="span2" type="text" name="trade-voice-{i}" placeholder="Voice">
            </fieldset>
            <fieldset>
              <textarea class="span6" name="trade-message-{i}" rows="13" placeholder="Message"></textarea>
            </fieldset>
          </div>
        </div>
        <div style="display:none" id="trade-time">
          <div class="alert" id="trade-time-{i}">
            <button class="close pull-right" onclick="$('#trade-time-{i}').replaceWith('<div></div>')">&times;</button>
            <p></p><h4>Trade Time</h4><br>
            <input type="hidden" name="trade-type-{i}" value="time">
            <fieldset>
              <input class="span4" type="text" name="trade-sender-{i}" placeholder="Sender">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-recipient-{i}" placeholder="Recipient">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-currency-{i}" placeholder="Currency">
            </fieldset>
            <fieldset>
              <input class="span4" type="text" name="trade-amount-{i}" placeholder="Amount">
            </fieldset>
            <div class="alert alert-info">A 0.3% transaction tax will be added to the final amount.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
