<div class="tab-pane fade" id="contacts">
  <section>
    <ul id="tab-contacts" class="nav nav-tabs">
      <li class="active"><a href="#contacts-view" data-toggle="tab">View</a></li>
      <li class=""><a href="#contacts-remember" data-toggle="tab">Remember</a></li>
      <li class=""><a href="#contacts-forget" data-toggle="tab">Forget</a></li>
    </ul>
    <div id="tab-contacts-content" class="tab-content">
      <div class="tab-pane fade active in" id="contacts-view">
        <div class="accordion" id="contacts-accordion">
          {% if len(contacts) > 0 %}
          {% for c in contacts %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#contacts-accordion" href="#collapse-contacts0">
                <span class="muted" style="float: left; height: 20px; width: 263px; overflow: hidden;">{{ c.target_fingerprint }}</span>
                {{ c.target.get("codename","Anonymous") }}
              </a>
            </div>
            <div id="collapse-contacts0" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner">
                <p><b>Location:</b> {{ c.target.get("location","") }}</p>
                <p><b>Keywords:</b> {{ c.get("keywords","") }}</p>
                <hr>
                <p>{{ c.target.get("profile","") }}</p>
                <hr>
                <p>{{ c.description }}</p>
              </div>
            </div>
          </div>
          {% end %}
          {% else %}
          <p>You have no contacts.</p>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="contacts-remember">
         <form method="POST" action="/{{ access }}/contacts-remember" >
           {% module xsrf_form_html() %}
           <fieldset>
             <input class="span4" type="text" name="fingerprint" placeholder="Fingerprint">
           </fieldset>
           <fieldset>
             <input class="span4" type="text" name="keywords" placeholder="Keywords">
           </fieldset>
           <fieldset>
             <textarea class="span6" name="description" rows="13" placeholder="Description"></textarea>
           </fieldset>
           <button type="submit" class="btn">Submit</button>
         </form>
      </div>
      <div class="tab-pane fade" id="contacts-forget">
         <form method="POST" action="/{{ access }}/contacts-forget" >
           {% module xsrf_form_html() %}
           <fieldset>
             <input class="span4" type="text" name="fingerprint" placeholder="Fingerprint">
           </fieldset>
           <button type="submit" class="btn">Submit</button>
         </form>
      </div>
    </div>
  </section>
</div>
