{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar nav" id="myTab">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#alias" data-toggle="tab"><i class="icon icon-chevron-right"></i> Alias</a></li>
        <li><a href="#badges" data-toggle="tab"><i class="icon icon-chevron-right"></i> Badges</a></li>
        <li><a href="#contacts" data-toggle="tab"><i class="icon icon-chevron-right"></i> Contacts</a></li>
        <li><a href="#messages" data-toggle="tab"><i class="icon icon-chevron-right"></i> Messages</a></li>
        <li><a href="#documents" data-toggle="tab"><i class="icon icon-chevron-right"></i> Documents</a></li>
        <li><a href="#timebank" data-toggle="tab"><i class="icon icon-chevron-right"></i> Time Bank</a></li>
        <li><a href="#transport" data-toggle="tab"><i class="icon icon-chevron-right"></i> Data Transport</a></li>
        <li><a href="#trade" data-toggle="tab"><i class="icon icon-chevron-right"></i> Trade</a></li>
        <li><a href="#parent" data-toggle="tab"><i class="icon icon-chevron-right"></i> Parent</a></li>
      </ul>
    </div>
    <div id="myTabContent" class="span9 tab-content">
      {% include "private_alias.html" %}
      {% include "private_badges.html" %}
      {% include "private_contacts.html" %}
      {% include "private_messages.html" %}
      {% include "private_documents.html" %}
      {% include "private_timebank.html" %}
      {% include "private_transport.html" %}
      {% include "private_trade.html" %}
      {% include "private_parent.html" %}
    </div>
  </div>
</div>
{% end %}
