<div class="tab-pane fade" id="transport">
  <section>
    <ul id="tab-transport" class="nav nav-tabs">
      <li class="active"><a href="#transport-import" data-toggle="tab">Import</a></li>
      <li class=""><a href="#transport-export" data-toggle="tab">Export</a></li>
    </ul>
    <div id="tab-transport-content" class="tab-content">
      <div class="tab-pane fade active in" id="transport-import">
        <fieldset>
          <input type="file" name="file" class="span4" placeholder="Filename">
        </fieldset>
        <button type="submit" class="btn">Submit</button>
      </div>
      <div class="tab-pane fade" id="transport-export">
        <div class="alert alert-info">A total of 25 records are available for download.</div>
        <button type="submit" class="btn">Download</button>
      </div>
    </div>
  </section>
</div>
