<div class="tab-pane fade active in" id="alias">
  <section>
    <ul id="tab-alias" class="nav nav-tabs">
      <li class="active"><a href="#alias-view" data-toggle="tab">View</a></li>
      <li class=""><a href="#alias-edit" data-toggle="tab">Edit</a></li>
    </ul>
    <div id="tab-alias-content" class="tab-content">
      <div class="tab-pane fade active in" id="alias-view">
        <p><b>Public Fingerprint</b>: {{ alias.fingerprint }}</p>
        <p><b>Code name</b>: {{ alias.codename }}</p>
        <p><b>Location</b>: {{ alias.location }}</p>
        <p><b>Profile:</b></p><p> {{ alias.profile }}</p>
      </div>
      <div class="tab-pane fade" id="alias-edit">
        <form method="POST" action="/{{ access }}/alias-edit">
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span4" type="text" name="codename" placeholder="Code name">
          </fieldset>
          <fieldset>
            <input class="span4" type="text" name="location" placeholder="Location">
          </fieldset>
          <fieldset>
            <textarea class="span6" name="profile" rows="13" placeholder="Profile"></textarea>
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
