{% extends "base.html" %}

{% block content %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Cell 0</h1>
    <p class="lead">Intelligence for everyone.</p>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="span3 bs-docs-sidebar nav" id="myTab">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="active"><a href="#alias" data-toggle="tab"><i class="icon icon-chevron-right"></i> Alias</a></li>
        <li><a href="#messages" data-toggle="tab"><i class="icon icon-chevron-right"></i> Messages</a></li>
        <li><a href="#documents" data-toggle="tab"><i class="icon icon-chevron-right"></i> Documents</a></li>
        <li><a href="#timebank" data-toggle="tab"><i class="icon icon-chevron-right"></i> Time Bank</a></li>
        <li><a href="#transport" data-toggle="tab"><i class="icon icon-chevron-right"></i> Data Transport</a></li>
        <li><a href="#trade" data-toggle="tab"><i class="icon icon-chevron-right"></i> Trade</a></li>
      </ul>
    </div>

    <div id="myTabContent" class="span9 tab-content">
      <div class="tab-pane fade active in" id="alias">
        <h2>Alias</h2>
      </div>
      <div class="tab-pane fade" id="messages">
        <h2>Messages</h2>
      </div>
      <div class="tab-pane fade" id="documents">
        <h2>Documents</h2>
      </div>
      <div class="tab-pane fade" id="timebank">
        <h2>Time Bank</h2>
      </div>
      <div class="tab-pane fade" id="transport">
        <h2>Transport</h2>
      </div>
      <div class="tab-pane fade" id="trade">
        <h2>Trade</h2>
      </div>
    </div>

  </div>
</div>
{% end %}
