{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#web-search" data-toggle="tab">Search</a></li>
      <li class=""><a href="#web-share" data-toggle="tab">Share</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="web-search">
        <form method="GET" action="/{{ access }}/web" id="search-form">
          {% module xsrf_form_html() %}
          <input class="span9" type="text" name="q" placeholder="Query" value="{{ handler.get_argument("q","") }}"
           onkeypress="if(event.which==13){$('#search-form').submit()}">
          <input class="span3" type="text" name="labor" placeholder="Visibility">
        </form>
        <section><div class="alert alert-info">Showing {{ len(result_set) }} of {{ len(result_set) }} results.</div></section>
        <div class="accordion" id="accordion1">
          {% for r in result_set %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse0">
                {{ r.uri }}
              </a>
            </div>
            <div id="collapse0" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner">
                <p>{{ r.description }}</p>
              </div>
            </div>
          </div>
          {% end %}
        </div>
      </div>
      <div class="tab-pane fade" id="web-share">
        <form method="POST" action="/{{ access }}/web-share">
          {% module xsrf_form_html() %}
          <fieldset>
            <input class="span9" type="text" name="uri" placeholder="Link">
            <input class="span3" type="text" name="voice" placeholder="Visibility">
          </fieldset>
          <fieldset>
            <textarea class="span12" name="description" rows="13" placeholder="Description"></textarea>
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% end %}
