{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#read" data-toggle="tab">Read</a></li>
      <li class=""><a href="#compose" data-toggle="tab">Edit</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="read">
        <h2>{{ page }}</h2>
        {{ page_content }}
      </div>
      <div class="tab-pane fade" id="compose">
        <form>
          <fieldset>
            <input class="span9" name="title" type="text" placeholder="Title" value="{{ page }}">
            <input class="span3" name="voice" type="text" placeholder="Visibility">
            <textarea class="span12" name="body" rows="13" {% if not page_content %}placeholder="Page content"{% else %}value="{{ page_content }}"{% end %}></textarea>
          </fieldset>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% end %}
